<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product?.id == null ? 'Thêm sản phẩm' : 'Sửa sản phẩm'}"></title>
</head>
<body>

<h2 th:text="${product?.id == null ? 'Thêm sản phẩm đấu giá' : 'Sửa sản phẩm đấu giá'}"></h2>

<form th:action="@{/products/save}" th:object="${product}" method="post">
    <label>Tên sản phẩm:</label><br>
    <input type="text" th:field="*{name}"/>
    <p style="color:red" th:errors="*{name}"></p>

    <label>Giá khởi điểm:</label><br>
    <input type="number" th:field="*{price}"/>
    <p style="color:red" th:errors="*{price}"></p>

    <label>Loại sản phẩm:</label><br>
    <select th:field="*{category}">
        <option th:each="c : ${categories}" th:value="${c}" th:text="${c.name}"></option>
    </select><br><br>

    <label>Tình trạng:</label><br>
    <input type="text" th:field="*{status}" placeholder="Đang đấu giá / Đã bán"/><br><br>

    <button type="submit" th:text="${product?.id == null ? 'Thêm sản phẩm' : 'Cập nhật sản phẩm'}"></button>
</form>

<a th:href="@{/products}">Quay lại danh sách</a>

</body>
</html>